parameters:
    phpVersion: 80100
    paths:
        - bin/autodoc-debug
        - src
        - tests
    level: 10
    excludePaths:
        - vendor
        - tests/TestProject/Controllers/PipeOperationController.php
    ignoreErrors:
        -
            identifier: class.notFound
            path: tests/TestProject/RouteLoader.php
